.boxes {
  margin: 20px;
  margin-top: 150px;
  background-color: rgb(198, 177, 198);
  overflow: hidden;
  height: 200px;
  max-height: 35vh;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
}

.grids {
  max-width: 50%;
  margin: auto;
}
